---
pagination:
  data: globalDataSet.myData
  size: 1
permalink: "<%- pagination.items[0].name -%>.html"
---
<% 
    var d = pagination.items[0];
%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>タイトル</title>
    </head>
    <body>
        <%- include('_includes/common/header') %>
        <%- include('_includes/' + d.content) %>
        <ol>
            <% for (var item of pagination.items) { %>
                <li><%= item.name %></p>
            <% } %>
        </ol>

        <% if (d.name === 'login01') { %>
            <p>ログイン１のみ表示</p>
        <% } %>
    </body>
</html>